*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}

body{
  font-family: Arial, sans-serif;
  background:#f9fadb;
  color:#333;
}

.navbar{
  position:sticky;
  top:0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
  background:#091239;
  color:white;
}

.navbar ul{
  display:flex;
  gap:20px;
  list-style:none;
}

.navbar a{
  color:white;
  text-decoration:none;
}

.hero{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  background:linear-gradient(135deg,#2563eb,#7c3aed);
  color:white;
}

.hero h1{
  font-size:4rem;
  margin-bottom:10px;
}

.hero h2{
  font-size:2rem;
  margin-bottom:20px;
}

.hero p{
  max-width:700px;
  font-size:1.1rem;
}

.hero-buttons{
  margin-top:30px;
  display:flex;
  gap:20px;
}

.btn{
  background:white;
  color:#2563eb;
  padding:12px 24px;
  border-radius:8px;
  text-decoration:none;
  font-weight:bold;
}

.btn-outline{
  background:transparent;
  border:2px solid white;
  color:white;
}


section{
  padding:80px 10%;
}

.skills-container{
  display:flex;
  flex-wrap:wrap;
  gap:15px;
}

.skill-card{
  padding:10px 20px;
  background:white;
  border-radius:30px;
  box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.projects-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:20px;
}

.project-card{
  background:rgb(158, 236, 241);
  padding:25px;
  border-radius:15px;
  box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.project-links{
  margin-top:15px;
}

.project-links a{
  margin-right:15px;
  text-decoration:none;
  font-weight:bold;
}

form{
  max-width:600px;
  display:flex;
  flex-direction:column;
  gap:15px;
}

input,textarea{
  padding:12px;
  border:1px solid #ccc;
  border-radius:8px;
}

button{
  background:#2563eb;
  color:white;
  border:none;
  padding:12px;
  border-radius:8px;
  cursor:pointer;
}